* {
  box-sizing: border-box;
}

:root{
    --dark: #15171a;
    --purp: #77117a;
    --mint: #2aefcb;
}

body{
    background-color: #d9dcd6;

}

.wrapper {
  width:95%;  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.grid {
  display: grid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0px;
  padding:10px;
  }
  
  .div1 { 
      grid-area: 1 / 1 / 2 / 4;
      display:flex;
      flex-basis:auto;
      align-items:flex-end;
      background-color: var(--dark);
  
  }

      .div1 h1{
          display:flex;
          font-size: 48px;
          background-color: var(--mint);
      }
      .div1 img {
          display:flex-start;
          max-width:30%;
          max-height:30%;
      }
      .div1 div {
          padding-top: 15px;
          margin-right: 20px;
          float: right;
          font-size: 20px;
      }
      
      .div1 div ul {
          display:flex;
          list-style-type: none;
      }
      
      .div1 div ul li {
          display: flex;
          margin-left: 25px;
      }
      
      a {
          color: var(--mint);
          text-decoration: underline;
      } 

  .div2 { grid-area: 2 / 1 / 4 / 4;
          display:flex;
          justify-content: center;
          background-image:url("../images/stained-glass.jpeg");
          background-size: cover;
  }
      .div2 img {
          display:flex-start;
          max-width:50%;
          max-height:50;
         
      }


  .div3 { 
      grid-area: 4 / 1 / 6 / 2;
      display:flex;
      color:var(--purp);
      padding:30px;
      Border-right: 4px dotted var(--purp);
  }

  .div4 { 
      grid-area: 4 / 2 / 6 / 4;
      display:flex;
      margin-left:20px;
      justify-content: center;
      align-items: center;
  }

  .div5 { 
      grid-area: 6 / 2 / 8 / 4;
      display:flex;
      justify-content:center;
      margin-left: 20px;
  }
      .div5 img {
          object-fit: cover;
          width:100%;
          max-height:fit-content;
          border-style: solid;
          border-width: 6px;
          border-color: var(--mint);
             
      }

  .div6 { 
      grid-area: 8 / 2 / 9 / 3; 
      display:flex;
      justify-content:center;
      margin-left: 20px;
  }
      .div6 img {
          object-fit: cover;
          width:100%;
          max-height:100%;
          border-style: solid;
          border-width: 6px;
          border-color: var(--mint);
      }

  .div7 { grid-area: 8 / 3 / 9 / 4;
      display:flex;
      justify-content:center;
      margin-left: 20px; 
  }
      .div7 img {
          object-fit: cover;
          width:100%;
          max-height:100%;
          border-style: solid;
          border-width: 6px;
          border-color: var(--mint);
      }

  .div8 { 
      grid-area: 9 / 2 / 10 / 3;
      display:flex;
      justify-content:center;
      margin-left: 20px; 
  }
      .div8 img {
          object-fit: cover;
          width:100%;
          max-height:100%;
          border-style: solid;
          border-width: 6px;
          border-color: var(--mint);
      }
  .div9 { 
      grid-area: 9 / 3 / 10 / 4; 
      display:flex;
      justify-content:center;
      margin-left: 20px; 
  }
      .div9 img {
          object-fit: cover;
          width:100%;
          max-height:100%;
          border-style: solid;
          border-width: 6px;
          border-color: var(--mint);
      }

  .div10 { 
      grid-area: 6 / 1 / 10 / 2; 
      display:flex;
      color:var(--purp);
      padding:30px;
      Border-right: 4px dotted var(--purp);
  }

  .div11 { 
      grid-area: 10 / 1 / 11 / 2; 
      display:flex;
      color:var(--purp);
      padding:30px;
      Border-right: 4px dotted var(--purp);
  }
  .div12 { 
      grid-area: 10 / 2 / 11 / 4;
      display:flex;
      justify-content:center;
      margin-left: 20px;  
  }
  .div12 div ul {
      display:flex;
      list-style-type: none;
    }
    
    .div12 div ul li {
      display: flex;
      margin-left: 25px;
    }
    
    .div12 a{
        color: var(--dark);
        text-decoration: underline;
    }


.div {width:100%; }


/** Small devices (landscape phones, 576px and up) **/

@media (min-width: 576px) {

/** Medium devices (tablets, 768px and up)**/

@media (min-width: 768px) {

.wrapper {width:90%;  margin: 0 auto; }

.div {width:70%; float:left; }


/** Large devices (desktops, 992px and up)**/

@media (min-width: 992px) {

}

/** Extra large devices (large desktops, 1200px and up)**/

@media (min-width: 1200px) {

.wrapper {width:90%;  margin: 0 auto; }
}